{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/7450481596.js" crossorigin="anonymous"></script>
    <title>Perfil de usuario</title>

</head>
<body>
    
    <section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img src="{% static 'images/estudiante.jpg' %}" alt="img-avatar">
                
            </div>
        
        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 class="titulo">informacion del estudiante</h3>
            
        </div>
        
        <div class="perfil-usuario-footer">
            <ul class="lista-datos">
                <li><i class="fa-solid fa-user-astronaut"></i> Nombre y apellido: </li>
                <li><i class="fa-solid fa-calendar"></i> Curso: </li>
                <li><i class="fa-solid fa-id-card"></i> jornada: </li>
                <li><i class="fa-solid fa-id-card"></i> Documento: </li>
                <!-- <li><i class="fa-solid fa-id-card"></i> Horas: </li> -->
            </ul>
            <a href="" target="_blank" class="btn-pdf btn">REPORTE PDF</a>
    
    <!-- <script type="text/javascript" src="js/inicio.js"></script> -->
</body>
</html>