{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8 />
    <meta name="viewport" content="width=divice-width, initial-scale=1.0">
    <title>Profesor</title>
    <link rel="stylesheet" href="{% static 'css/todos.css' %}">
    <link rel="stylesheet" href="{% static 'css/Estudiante.css' %}">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
<div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="title">
                            <p>Nombre</p>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="tab-button" data-tab="tab1" href="">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title" data-tab="tab1">Cronograma</span>
                    </a>
                </li>
                <li>
                    <a class="tab-button" data-tab="tab2" href="">
                        <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                        <span class="title" data-tab="tab2">Estudiantes</span>
                    </a>
                </li>
                <li>
                    <a class="tab-button" data-tab="tab3" href="">
                        <span class="icon"><ion-icon name="hammer-outline"></ion-icon></ion-icon></span>
                        <span class="title" data-tab="tab3">Herramientas</span>
                    </a>
                </li>
                <li>
                    <a class="tab-button" data-tab="tab4" href="">
                        <span class="icon"><ion-icon name="hammer-outline"></ion-icon></ion-icon></span>
                        <span class="title" data-tab="tab4">Prestamo</span>
                    </a>
                </li>
                <li>
                    <a class="tab-button" data-tab="tab5" href="">
                        <span class="icon"><ion-icon name="add-circle-outline"></ion-icon></span>
                        <span class="title" data-tab="tab5">Actividades</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                        <span class="title">Cerrar</span>
                    </a>
                </li>
        </div>

        <!--main-->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
            </div>
            
<!-- Cronograma -->
<div class="tab-item" id="tab1">
                <center>
                    <h4>Cronograma de actividades</h4>
                    <div class="recentCustomers">
                        <div><a id="boton" onclick="mostrar1();" class="boton1" href="#zona1">Zona 1</a></div>
                        <div><a id="boton" onclick="mostrar2();" class="boton1" href="#zona2">Zona 2</a></div>
                        <div><a id="boton" onclick="mostrar3();" class="boton2" href="#zona3">Zona 3</a></div>
                        <div><a id="boton" onclick="mostrar4();" class="boton2" href="#zona4">Zona 4</a></div>

                    </div> <br><br>

                    <!--lo q desaparese y vuelve-->

                    <div class="zona" id="zona1">
                        <h4>Zona 1</h4>
                        <table class="no1">
                            <thead>
                                <tr class="trr">
                                    <td class="tdt">No</td>
                                    <td class="tdt">Tiempo</td>
                                    <td class="tdt">Actividades</td>
                                </tr>
                            </thead>
                                <tbody>
                                    <form action="">
                                        <tr class="trr">
                                            <td class="tdt"></td>
                                            <td class="tdt"></td>
                                            <td class="tdt"></td>
                                        </tr>
                                    </form>
                    </div>
            <!-- </div> -->


        </tbody>
        </table>
        <button id="botton" onclick="ocultar1();" class="Cerrar">Cerrar</button>
        <!-- </div> -->

        <div class="zona" id="zona2">
            <h4>Zona 2</h4>
            <table class="no1">
                <thead>
                    <tr class="trr">
                        <td class="tdt">No</td>
                        <td class="tdt">Tiempo</td>
                        <td class="tdt">Actividades</td>
                    </tr>
                </thead>

                    <tbody>
                        <form action="">
                            <tr class="trr">
                                <td class="tdt"></td>
                                <td class="tdt"></td>
                                <td class="tdt"></td>
                            </tr>
                        </form>
                </div>
            <!-- </div> -->
        </tbody>
        </table>
        <button id="botton" onclick="ocultar2();" class="Cerrar">Cerrar</button>
        <!-- </div> -->
        <div class="zona" id="zona3">
            <h4>Zona 3</h4>
            <table class="no1">
                <thead>
                    <tr class="trr">
                        <td class="tdt">No</td>
                        <td class="tdt">Tiempo</td>
                        <td class="tdt">Actividades</td>
                    </tr>
                </thead>
                    <tbody>
                        <form action="">
                            <tr class="trr">
                                <td class="tdt"></td>
                                <td class="tdt"></td>
                                <td class="tdt"></td>
                            </tr>
                        </form>
        </div>
        <!-- </div> -->

        </tbody>
        </table>
        <button id="botton" onclick="ocultar3();" class="Cerrar">Cerrar</button>
        <!-- </div> -->
        <div class="zona" id="zona4">
            <h4>Zona 4</h4>
            <table class="no1">
                <thead>
                    <tr class="trr">
                        <td class="tdt">No</td>
                        <td class="tdt">Tiempo</td>
                        <td class="tdt">Actividades</td>
                    </tr>
                </thead>

                    <tbody>
                        <form action="">
                            <tr class="trr">
                                <td class="tdt"></td>
                                <td class="tdt"></td>
                                <td class="tdt"></td>
                            </tr>
                        </form>
        </div>
        <!-- </div> -->
        </tbody>
        </table>
        <button id="botton" onclick="ocultar4();" class="Cerrar">Cerrar</button>
        <!-- </div> -->

        </center>


</div>

<!-- estudiantes -->
<div class="tab-item" id="tab2">  
    <div class="details1">
        <div class="recentOrders">
            <div class="listado_est" id="listado_est">
                <div class="cardHeader">
                    <h2>Lista Estudiantes</h2>
                    <div class="list">
                        <form action="" method="POST">
                            <div class="navigation5">
                                <a class="button" id="tab6"><i class="fa-solid fa-brush" data-tab="tab6"></i></a>
                                <button type="submit" class="button" name="btnDel"><i class="fa-solid fa-trash"></i></button>
                                <a class="button" id="open" href="{% url 'nuevo' %}"><i class="fa-solid fa-add"></i></a>

                            </div>

                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <td>X</td>
                            <td>Nombre y Apellido</td>
                            <td>Documento</td>
                            <td>Curso</td>
                            <td>Jornada</td>
                            <td>Horas</td>

                            <td>CRUD</td>
                            <td>CRUD</td>
                        </tr>
                    </thead>
                    
                        <form method="POST" action="">
                            <tbody>
                                <tr>
                                    <td><!--<input type="checkbox" name="seleccion[]" value="<?php echo $campo['idregistro'] ?>">--></td>
                        </form>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td>
                            <a class="si" href="">Actualizar</a>
                        </td>
                        <td>
                            <a class="si" href="">Borrar</a>
                        </td>


                        </tr>

                    </tbody>
                </table>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="tab-item" id="tab6">
    <div class="cardHeader">
        <center>
            <h2>Lista Estudiantes</h2>
        </center>
        <div class="list">
            <div class="navigation2">

                <button class="button" id="open2"><i class="fa-solid fa-add"></i></button>

                <div class="modal-container2" id="modal_container2">
                    <div class="modal">
                        <form action="" method="POST" name="formDatosPersonales" id="formReg" class="form-register">

                            <center>
                                <h5>Formulario de registro</h5>

                                <input text="text" id="codigo" name="Nombre_y_Apellidos" required class="controls" placeholder="Nombre y apellidos">

                                <select name="Curso" id="nombre" class="controls">
                                    <option value="901">901</option>
                                    <option value="902">902</option>
                                    <option value="903">903</option>
                                    <option value="904">904</option>
                                    <option value="905">905</option>
                                    <option value="906">906</option>

                                    <option value="1001">1001</option>
                                    <option value="1002">1002</option>
                                    <option value="1003">1003</option>
                                    <option value="1004">1004</option>
                                    <option value="1005">1005</option>

                                    <option value="1101">1101</option>
                                    <option value="1101">1102</option>
                                    <option value="1101">1103</option>
                                    <option value="1101">1104</option>
                                </select>
                                <select name="Jornada" id="Jornada" class="controls">
                                    <option value="Mañana">Mañana</option>
                                    <option value="Tarde">Tarde</option>
                                </select>
                                <input type="text" id="Documento" name="Documento_de_identidad" placeholder="Documento de identidad" class="controls" requiered>
                                <input type="text" id="nota" name="Contrasena" class="controls" placeholder="Digite su contraseña" required>
                                <input type="text" id="nota" name="Confirmacion" class="controls" placeholder="Confirme su contraseña" required>
                                <button id="boton" type="submit" name="boton" id="btn" class="btn-neon">REGISTRAR</button>
                        </form>
                        <br><br>
                        </center>

                        <a id="close2" class="cosa">Cerrar</a>
                    </div>
                </div>




                <button id="open1" class="button"><i class="fa-solid fa-search"></i></button>

                <div class="modal-container1" id="modal_container1">
                    <div class="modal">

                        <form method="POST" id="formReg">
                            <h1>FORMULARIO DE CONSULTA</h1>
                            <div class="input-container">

                                <select name="grupo" class="controls">
                                    <option value="901">901</option>
                                    <option value="902">902</option>
                                    <option value="903">903</option>
                                    <option value="904">904</option>
                                    <option value="905">905</option>
                                    <option value="906">906</option>

                                    <option value="1001">1001</option>
                                    <option value="1002">1002</option>
                                    <option value="1003">1003</option>
                                    <option value="1004">1004</option>
                                    <option value="1005">1005</option>

                                    <option value="1101">1101</option>
                                    <option value="1101">1102</option>
                                    <option value="1101">1103</option>
                                    <option value="1101">1104</option>
                                </select>

                            </div>

                            <input type="submit" id="acceder" name="btnAcceder" class="btn-neon" value="CONSULTAR" onclick="mostrar12();">
                            <br><br>

                        </form>

                        <a id="close1" class="cosa">Cerrar</a>
                    </div>
                </div>

                <button class="button" href="#" onclick="mostrar11();"><i class="fa-solid fa-arrow-left"></i></button>
            </div>
        </div>
    </div>
    <form method="POST">
        <table>
            <thead>
                <tr>
                    <td>No</td>
                    <td>Nombre y Apellido</td>
                    <td>Curso</td>
                    <td>Jornada</td>
                    <td>Documento</td>
                    <td>Horas</td>

                </tr>
            </thead>

                    <div id="resultado">
                        <tbody>
                            <tr>

                                <td><!--<input name="idregistro[<?php echo $campoMod['idregistro'] ?>]" value="<?php echo $campoMod['idregistro'] ?>" class="controlar">--></td>
                                <td><!--<input name="nom[<?php echo $campoMod['idregistro'] ?>]" value="<?php echo $campoMod['Nombre_y_Apellidos'] ?>">--></td>
                                <td><!--<input name="curso[<?php echo $campoMod['idregistro'] ?>]" value="<?php echo $campoMod['curso'] ?>" class="controlar">--></td>
                                <td><!--<input name="jor[<?php echo $campoMod['idregistro'] ?>]" value="<?php echo $campoMod['jornada'] ?>" class="controlar">--></td>
                                <td><!--<input name="doc[<?php echo $campoMod['idregistro'] ?>]" value="<?php echo $campoMod['Documento_de_identidad'] ?>" class="controlar">--></td>
                                <td><!--<input name="horas[<?php echo $campoMod['idregistro'] ?>]" value="<?php echo $campoMod['Horas'] ?>" class="controlar">--></td>
                            </tr>
                    </div>

                    <tbody>
                        <tr>

                            <td><!--<input name="idregistro[<?php echo $campo2['idregistro'] ?>]" value="<?php echo $campo2['idregistro'] ?>" class="controlar">--></td>
                            <td><!--<input name="nom[<?php echo $campo2['idregistro'] ?>]" value="<?php echo $campo2['Nombre_y_Apellidos'] ?>">--></td>
                            <td><!--<input name="curso[<?php echo $campo2['idregistro'] ?>]" value="<?php echo $campo2['curso'] ?>" class="controlar">--></td>
                            <td><!--<input name="jor[<?php echo $campo2['idregistro'] ?>]" value="<?php echo $campo2['jornada'] ?>" class="controlar">--></td>
                            <td><!--<input name="doc[<?php echo $campo2['idregistro'] ?>]" value="<?php echo $campo2['Documento_de_identidad'] ?>" class="controlar">--></td>
                            <td><!--<input name="horas[<?php echo $campo2['idregistro'] ?>]" value="<?php echo $campo2['Horas'] ?>" class="controlar">--></td>
                        </tr>

                <tr>
                    <td>
                        <input type="submit" class="si" name="btnCam" value="ACTUALIZAR" />
                    </td>
                </tr>
                    </tbody>
        </table>
    </form>

</div>

<!-- prestamo -->
<div class="tab-item" id="tab3">
    <div class="details2">
        <div class="recentOrders1">
            <div class="cardHeader">
                <h2>Gestion de prestamo herramientas</h2>
                <div class="list">

                        <div class="navigation4">

                                

                            <a class="button" id="open4" href="#"><i class="fa-solid fa-add"></i></a>

                            <div class="modal-container4" id="modal_container4">
                                <div class="modal">
                                    <form action="" method="POST" name="formDatos" id="formReg" class="form-register">

                                        <center>
                                            <h5>Formulario de registro</h5>

                                            <input text="text" id="codigo" name="Nombre_y_Apellidos" required class="controls2" placeholder="Nombre y apellidos"><br><br>
                                            <input type="text" id="nota" name="idHerramienta" class="controls2" placeholder="Codigo herramienta" required><br><br>
                                            <input type="datetime-local" class="controls2" id="fecha" name="fechaPres"><br><br>
                                            <button id="boton1" type="submit" name="boton1" id="btn" class="btn-neon">REGISTRAR</button>
                                    </form>
                                    <br><br>
                                    </center>

                                    <a id="close4" class="cosa">Cerrar</a>
                                </div>
                            </div>
        <form action="" method="POST">
                            <button type="submit" class="button1" name="btnDel2"><i class="fa-solid fa-check"></i></button>
                        </div>

                </div>
            </div>

            <table class="no">
                <thead>
                    <tr>
                        <td>X</td>
                        <td>Nombre</td>
                        <td>Estudiantes</td>
                        <td>Estado</td>
                        <td>Tiempo</td>
                        <td>Gestion</td>
                        <td>Gestion</td>

                    </tr>
                </thead>

                    <tbody>
                        <tr>
                            <td><input type="checkbox" name="selecion[]" value=""></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a class="si" href="">Devolver</a></td>
                            <td><a class="si" href="">Prestar</a></td>
                        </tr>

        </form>
                    </tbody>
            </table>
        </div>
    </div>
</div>

<!-- herramientas -->
<div class="tab-item" id="tab4">
    <div class="details2">
        <div class="recentOrders1">
                <div class="cardHeader">
                    <h2>Gestion de herramientas bodega</h2>
                    <h6></h6>
                    <div class="list">
                        <div class="navigation3">
                            <button id="open3" class="button"><i class="fa-solid fa-add"></i></button>

                            <div class="modal-container3" id="modal_container3">
                                <div class="modal">

                                    <form action="" method="POST" name="formDatosPersonales" id="formReg1" class="form_register">

                                        <h5>Gestion Herramientas</h5>

                                        <div class="form_Nombre" id="form_Nombre">
                                            <input type="text" name="nombre_herramienta" placeholder="nombre de la Herramienta" class="controls" id="Nombre">
                                        </div>

                                        <div class="form_estado" id="form_estado">
                                            <select name="estado" id="estado" class="controls">
                                                <option value="Bueno">Bueno</option>
                                                <option value="Malo">Malo</option>
                                                <option value="Medio">Medio</option>
                                            </select>
                                            <input type="hidden" value="No" name="total">
                                        </div>
                                        <input type="submit" name="boton" class="btn-neon" value="Registrar">
                                        <br><br>
                                    </form>
                                    <a id="close3" class="cosa">Cerrar</a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="container1">
                    <div class="images">
                        <table class="no">
                            <thead>
                                <tr>
                                    <td>No</td>
                                    <td>Nombre</td>
                                    <td>Estado</td>
                                    <td>Gestion</td>
                                    <td>Gestion</td>
                                </tr>
                            </thead>

                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><a class="si" style="background-color: green;" href="">Actualizar</a></td>
                                        <td><a class="si" style="background-color: red;" href="">Borrar</a></td>
                                    </tr>

                                </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>

<!-- actividades -->
<div class="tab-item" id="tab5">
    <div class="details3">
        <div class="recentOrders">
            <div class="cardHeader">
                <center>
                    <h2>Actividades</h2>
                </center>
                <div class="list">
                    <div class="navigation1">
                        <button class="button" id="open5"><i class="fa-solid fa-add"></i></button>

                        <div class="modal-container5" id="modal_container5">
                            <div class="modal">
                                <form action="" method="POST" name="formDatosPersonales" id="formReg" class="form-register">

                                    <center>
                                        <h5>Formulario de actividades</h5>

                                        <div class="form_grupo" id="form_Nombre">
                                            <input type="text" name="actividad" class="controls" placeholder="actividad" id="actividad"><br>
                                            <input type="date" name="fechaEntrega" class="controls" id="fechaEntrega"><br>
                                            <select name="zona_idzona" id="zona_idzona" class="controls">
                                                <option value="1">Zona 1</option>
                                                <option value="2">Zona 2</option>
                                                <option value="3">Zona 3</option>
                                                <option value="4">Zona 4</option>
                                            </select>
                                        </div>

                                        <input type="submit" name="boton3" class="btn-neon" value="Registrate">

                                </form>
                                </center>
                                <a id="close5" class="cosa">Cerrar</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <form method="POST">
                <table>
                    <thead>
                        <tr>
                            <td>No</td>
                            <td>Tiempo</td>
                            <td>Zona</td>
                            <td>actividad</td>

                        </tr>
                    </thead>

                        <tbody>
                            <tr>
                                <td><!--<input name="idcro[<?php echo $campoMod['idcro'] ?>]" value="<?php echo $campoMod['idcro'] ?>" class="controlar">--></td>
                                <td><!--<input type="datetime" name="fechaEntrega[<?php echo $campoMod['idcro'] ?>]" value="<?php echo $campoMod['fechaEntrega'] ?>" class="controlar1">--></td>
                                <td><!--<input name="zona_idzona[<?php echo $campoMod['idcro'] ?>]" value="<?php echo $campoMod['zona_idzona'] ?>" class="controlar">--></td>
                                <td><!--<input name="actividad[<?php echo $campoMod['idcro'] ?>]" value="<?php echo $campoMod['actividad'] ?>" class="controlar">--></td>
                            </tr>

                        <tr>
                            <td>
                                <input type="submit" class="si" name="btnCam1" value="ACTUALIZAR" />
                            </td>
                        </tr>
                        </tbody>
                </table>
            </form>

        </div>
    </div>
</div>



<script src="{% static 'js/si.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/nave.js' %}"></script>
<script src="{% static 'js/Estudiant.js' %}"></script>
<script src="{% static 'js/Estudiantes1.js' %}"></script>
<script src="{% static 'js/noreg.js' %}"></script>

<script>

    const tabButtons = document.querySelectorAll('.tab-button');
    const tabButton = document.querySelectorAll('.button');
    const tabItems = document.querySelectorAll('.tab-item');


    function changeTab(event) {

    const tabId = event.target.getAttribute('data-tab');


    tabButtons.forEach(button => {
        button.classList.remove('active');
    });
    tabButton.forEach(button => {
        button.classList.remove('active');
    });
    tabItems.forEach(item => {
        item.classList.remove('active');
    });


    event.target.classList.add('active');
    document.getElementById(tabId).classList.add('active');


    localStorage.setItem('activeTab', tabId);
    }

    tabButtons.forEach(button => {
    button.addEventListener('click', changeTab);
    });
    tabButton.forEach(button => {
    button.addEventListener('click', changeTab);
    });

    const activeTab = localStorage.getItem('activeTab');

    if (activeTab) {

    tabButtons.forEach(button => {
        button.classList.remove('active');
    });
    tabButton.forEach(button => {
        button.classList.remove('active');
    });

    tabItems.forEach(item => {
        item.classList.remove('active');
    });

    document.querySelector(`[data-tab="${activeTab}"]`).classList.add('active');
    document.getElementById(activeTab).classList.add('active');
    }
  
</script>