@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: #fff;
}

.details {
    position: relative;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-gap: 30px;
}

.recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 7px 25px rgb(0 0 0 / 8%);
    border-radius: 20px;
}

h2 {
    font-weight: 600;
    color: #48E3D4;
}

.container{
    position: relative;
    max-height: 100vh;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #fff;
}

.container .search-box{
    position: relative;
    height: 42px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: #323334;
    padding: 0 15px 0 45px;
    color: #fff;
    border-radius: 6px;
}

.search-box i{
    position: absolute;
    z-index: 2;
    color: #999;
    top: 50%;
    left: 15px;
    font-size: 20px;
    transform: translateY(50%);
}

.container .images .image-box{
    position: relative;
    width: 210px;
    height: 300px;
    border-radius: 6px;
    overflow: hidden;
}

.container .images2 .image-box{
    position: relative;
    width: 210px;
    height: 300px;
    border-radius: 6px;
    overflow: hidden;
}

.images{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images2{
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.images2 .image-box{
    margin: 8px;
}

.images2 .image-box img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    transition: transform 0.2s linear;
}

.images .image-box{
    margin: 8px;
}

.images .image-box img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    transition: transform 0.2s linear;
}

.image-box:hover img{
    transform: scale(1.05);
}

.container .images h6{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    font-family: 'Ubuntu', sans-serif;
}

.container .images2 h6{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    font-family: 'Ubuntu', sans-serif;
}

.tabla{
    display: none;
}

.no{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}








