* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-position: center;
  background-color: #0BE066;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family:'consolas';
}
.form-register {
  width: 400px;
  background-color: #0DD928;
  padding: 20px 20px 10px 15px ;
  margin: auto;
  margin-top: 8px;
  border-radius: 40px;
  font-family: 'calibri';
  color: #000;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #FFFDA1;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #52E391;
  outline: none;
  font-family: 'calibri';
  font-size: 18px;
  text-align: center;
  color: white;
  border-radius: 30px;
  color: darkgrey;
}


.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: black;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #02F51C;
  border: none;
  padding: 10px 133px;
  color: black;
  margin: 16px 0;
  font-size: 16px;
}

.form-register p .aparte{
  color: #000;
}

.btn-neon{
  position: relative;
  display: inline-block;
  padding: 10px 107px;
  color: #000;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 30px;
  font-size: 20px;
}
.btn-neon{
  background: #E8D495;
  box-shadow: 0 0 10px #B2BA9B, 0 0 40px #B2BA9B, 0 0 80px #B2BA9B;
  transition-delay: 1s;
}

.aparte{
 margin: 115px; 
}

.form_mensaje-error{
  font-size:12px;
  margin-bottom: 0;
  display:none;
}

.form_mensaje-error-activo{
  display:block;
}